*.json
*.parquet
/e_c_202608.parquet
/se_c_202608.parquet
/ymrgtb_cd_202608.parquet
/ymrgtbs_cd_202608.parquet
/ymrgtbe_cd_202608.parquet
/ymrgtbs_cd_201306.parquet
/ymrgtbe_cd_201306.parquet
/ymrgtbs_cd_201507.parquet
/ymrgtbe_cd_201507.parquet
/ymrgtbs_cd_201508.parquet
/ymrgtbe_cd_201508.parquet
/ymrgtbs_cd_201509.parquet
/ymrgtbe_cd_201509.parquet
/ymrgtbs_cd_201510.parquet
/ymrgtbe_cd_201510.parquet
/ymrgtbs_cd_201511.parquet
/ymrgtbe_cd_201511.parquet
/ymrgtbs_cd_201512.parquet
/ymrgtbe_cd_201512.parquet
/ymrgtbs_cd_201601.parquet
/ymrgtbe_cd_201601.parquet
/ymrgtbs_cd_201602.parquet
/ymrgtbe_cd_201602.parquet
/ymrgtbs_cd_201603.parquet
/ymrgtbe_cd_201603.parquet
/ymrgtbs_cd_201604.parquet
/ymrgtbe_cd_201604.parquet
/ymrgtbs_cd_201605.parquet
/ymrgtbe_cd_201605.parquet
/ymrgtbs_cd_201606.parquet
/ymrgtbe_cd_201606.parquet
/ymrgtbs_cd_201607.parquet
/ymrgtbe_cd_201607.parquet
/ymrgtbs_cd_201608.parquet
/ymrgtbe_cd_201608.parquet
/ymrgtbs_cd_201609.parquet
/ymrgtbe_cd_201609.parquet
/ymrgtbs_cd_201610.parquet
/ymrgtbe_cd_201610.parquet
/ymrgtbs_cd_201611.parquet
/ymrgtbe_cd_201611.parquet
/ymrgtbs_cd_201612.parquet
/ymrgtbe_cd_201612.parquet
/ymrgtbs_cd_201701.parquet
/ymrgtbe_cd_201701.parquet
/ymrgtbs_cd_201702.parquet
/ymrgtbe_cd_201702.parquet
/ymrgtbs_cd_201703.parquet
/ymrgtbe_cd_201703.parquet
/ymrgtbs_cd_201704.parquet
/ymrgtbe_cd_201704.parquet
/ymrgtbs_cd_201705.parquet
/ymrgtbe_cd_201705.parquet
/ymrgtbs_cd_201706.parquet
/ymrgtbe_cd_201706.parquet
/ymrgtbs_cd_201707.parquet
/ymrgtbe_cd_201707.parquet
/ymrgtbs_cd_201708.parquet
/ymrgtbe_cd_201708.parquet
/ymrgtbs_cd_201709.parquet
/ymrgtbe_cd_201709.parquet
/ymrgtbs_cd_201710.parquet
/ymrgtbe_cd_201710.parquet
/ymrgtbs_cd_201711.parquet
/ymrgtbe_cd_201711.parquet
/ymrgtbs_cd_201712.parquet
/ymrgtbe_cd_201712.parquet
/ymrgtbs_cd_201801.parquet
/ymrgtbe_cd_201801.parquet
/ymrgtbs_cd_201802.parquet
/ymrgtbe_cd_201802.parquet
/ymrgtbs_cd_201803.parquet
/ymrgtbe_cd_201803.parquet
/ymrgtbs_cd_201804.parquet
/ymrgtbe_cd_201804.parquet
/ymrgtbs_cd_201805.parquet
/ymrgtbe_cd_201805.parquet
/ymrgtbs_cd_201806.parquet
/ymrgtbe_cd_201806.parquet
/ymrgtbs_cd_201807.parquet
/ymrgtbe_cd_201807.parquet
/ymrgtbs_cd_201808.parquet
/ymrgtbe_cd_201808.parquet
/ymrgtbs_cd_201809.parquet
/ymrgtbe_cd_201809.parquet
/ymrgtbs_cd_201810.parquet
/ymrgtbe_cd_201810.parquet
/ymrgtbs_cd_201811.parquet
/ymrgtbe_cd_201811.parquet
/ymrgtbs_cd_201812.parquet
/ymrgtbe_cd_201812.parquet
/ymrgtbs_cd_201901.parquet
/ymrgtbe_cd_201901.parquet
/ymrgtbs_cd_201902.parquet
/ymrgtbe_cd_201902.parquet
/ymrgtbs_cd_201903.parquet
/ymrgtbe_cd_201903.parquet
/ymrgtbs_cd_201904.parquet
/ymrgtbe_cd_201904.parquet
/ymrgtbs_cd_201905.parquet
/ymrgtbe_cd_201905.parquet
/ymrgtbs_cd_201906.parquet
/ymrgtbe_cd_201906.parquet
/ymrgtbs_cd_201907.parquet
/ymrgtbe_cd_201907.parquet
/ymrgtbs_cd_201908.parquet
/ymrgtbe_cd_201908.parquet
/ymrgtbs_cd_201909.parquet
/ymrgtbe_cd_201909.parquet
/ymrgtbs_cd_201910.parquet
/ymrgtbe_cd_201910.parquet
/ymrgtbs_cd_201911.parquet
/ymrgtbe_cd_201911.parquet
/ymrgtbs_cd_201912.parquet
/ymrgtbe_cd_201912.parquet
/ymrgtbs_cd_202006.parquet
/ymrgtbe_cd_202006.parquet
/ymrgtbs_cd_202007.parquet
/ymrgtbe_cd_202007.parquet
/ymrgtbs_cd_202008.parquet
/ymrgtbe_cd_202008.parquet
/ymrgtbs_cd_202010.parquet
/ymrgtbe_cd_202010.parquet
